<template>
  <section>
    <h1>Mes addresses</h1>
    <Adress/>
  </section>
</template>

<script>
  import Adress from '~/components/Adress.vue'

  export default {
    data () {
      return {}
    },
    
    components: {
      Adress
    } 
  }
</script>