<template>
  <div>
    <!-- name n'est pas definie vif est il obligatoire  ? autre méthode ? -->
    <h1>Bonjour  {{userData.name}}</h1> 
    <nuxt-link to="client/adress">adress</nuxt-link>
    <button @click="test">test</button>
  </div>
</template>

<script>
  import {mapActions, mapState} from 'vuex'
  export default {
    data () {
      return {
      }
    },
    beforeCreate(){
      this.$store.dispatch('client/initUser')
    },
    computed: {
      ...mapState({
        userData : state => state.client.userData
      })
    },
    methods:{
      async test() {
        const csrf = await this.$axios.$get('http://127.0.0.1:8000/sanctum/csrf-cookie')
        console.log(csrf)
      }
    }

  }
</script>