<template>
  <div>
    <ul v-for="adress in userData.contactDetails" :key="adress.id">
      <li>{{adress.adressName}}</li>
      <li>{{adress.adress}}</li>
      <li>{{adress.postCode}}</li>
      <li>{{adress.city}}</li>
    </ul>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  export default {
    data () {
      return {
      }
    },
    computed: {
      ...mapState({
        userData : state => state.client.userData
      })
    }
  }
</script>